body {
    display: flex;
    flex-direction: column;
    background-color: paleturquoise;
    background-image: url("https://images.pexels.com/photos/1687575/pexels-photo-1687575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}


/* C 1 */

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 30px;
    background-color: darkgray;
}

div .header {
    margin-left: 350px;
    font-size: 15px;
}

div a {
    text-decoration: none;
}


/* C 1 END */


/* C 2 */

.class1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* HOLDS C2 TO C9 */
}

div #welcomeandlinks {
    width: auto;
    height: 100px;
    margin: 0px;
    border: 1px solid red;
    background-color: white;
    background-image: light gray;
}

#welcomeandlinks a {
    float: right;
    padding-right: 20px;
}

h1 {
    float: left;
}

.link2 {
    width: 500px;
    height: 110px;
    float: right;
    margin-top: 15px;
}

.link2 a {
    text-align: center;
}

.default {
    background-color: rgba(0, 0, 0, 0.1);
    height: 70px;
}

a:hover {
    height: 70px;
    color: white;
    background-color: rgba(143, 36, 72, 0.74);
    /* C 2 ENDS */
}


/* C 3 STARTS */

div #logo {
    padding: 20px;
    margin: 20px;
    border: 5px solid blue;
    background-image: url(https://as2.ftcdn.net/jpg/02/47/83/31/500_F_247833152_El8gFAYYFoVcwEZX9hvut3G3CBx3Wgbb.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 0 auto;
    height: 250px;
}

.c3 {
    margin-left: 120px;
}

#logo:hover {
    opacity: 0.8;
    /* C 3 ENDS */
}


/* C 4 STARTS */

#c4 {
    padding: 25px;
    margin: 5px;
    border: 1px solid blue;
    background-color: white;
    width: 0 auto;
    height: 190px;
}

div .images {
    width: 392px;
    height: 180px;
    padding-right: 50px;
    padding-left: 10px;
}

.imagelink:hover {
    text-decoration: none;
    background-color: white;
    opacity: 0.5;
    /* C 4 ENDS */
}


/* C 5 STARTS. thesame for box 4 to box 9 */

.class1 .c5 {
    padding: 20px;
    margin: 20px;
    border: 1px solid red;
    background-color: white;
    width: 0 auto;
    height: 190px;
}

.c5A {
    width: 350px;
    height: 190px;
    padding-right: 30px;
    padding-left: 30px;
}

.c5A:hover {
    background-color: white;
}

.c5 a:hover {
    background-color: pink;
    width: 200px;
}

.c5A1 {
    float: right;
    width: 1050px;
    height: 170px;
    margin: 5px 130px 5px 20px;
}

.c5A1 a {
    padding: 10px 30px 10px 20px;
    /* C 5 ENDS */
}


/* FOOTER BEGINS */

.class2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0 auto;
    height: 300px;
    padding: 40px;
    background-color: gray;
}

.class2 div {
    width: 350px;
    height: 250px;
    padding: 7px 120px 20px 10px;
    background-color: rgba(211, 211, 211, 0.212);
    margin: 10px 10px 10px 0px;
    color: bold black;
}

div h5 {
    padding-left: 35px;
    margin: 0px;
}

div h6 {
    padding-left: 35px;
    margin: 0px;
}

footer {
    color: white;
    text-align: center;
    margin: 30px 0 30px 0;
}

.footer a {
    float: right;
    padding-right: 10px;
}